<!DOCTYPE html>
<html lang="en">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="shortcut icon" href="/static/images/favicon.png" type="image/x-icon" >
<link rel="stylesheet" href="/static/common.css">
<script src="/static/vendor/htmx-1.9.10.js"></script>

{% block head %}{% endblock %}

<nav class=site-nav>
  <!-- {% if env == 'debug' %} -->
  <!--   <div class="dev-banner">DEVELOPMENT</div> -->
  <!-- {% endif %} -->
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/profile">Profile</a></li>
  </ul>
</nav>
<main>
<!-- <dialog id=error-dialog class=error></dialog> -->
{% block main %}{% endblock %}
</main>

{% if env == 'debug' %}
<script>
  let _debug_time = undefined
  setInterval(async () => {
    const res = await fetch('/debug')
    const body = await res.text()
    if (_debug_time === undefined) {
      _debug_time = body
    } else if (_debug_time !== body) {
      location.reload()
    }
  }, 1000)
</script>
{% endif %}
