{% extends 'base.html' %}

{% block head %}
<title>Sailboat</title>
{% endblock %}

{% block main %}
<style>
textarea[name=content] {
  width: 100%;
  max-width: 400px;
  resize: vertical;
}

section {
  margin: 10px 0;
}

.post {
  padding: 5px 5px;
}

button.delete {
  display: block;
}

</style>

<h1>{{ profile.display_name }}</h1>
<div>@{{ profile.handle }}</div>

<section class=newpost>
<h2>Create</h2>
<form action="/posts"
      method=post
      hx-post="/posts"
      hx-swap=outerHTML
      hx-target="section.profile"
      hx-on::after-request="this.reset()">
  <input type=hidden name=profile_id value="{{ profile.profile_id }}">
  <textarea name="content" placeholder="{{ profile.display_name }} is..."></textarea>
  <div><button>Post!</button></div>
</form>
</section>


<section>
  Following: <a href="/following">{{ follow_count }}</a>
</section>


<section>
  <h2>Results</h2>
  <p id=results></p>
</section>

{% endblock %}
