{% extends 'base.html' %}

{% block head %}
<title>Sailboat</title>
{% endblock %}

{% block main %}

<h1>{{ profile.internal_name }}</h1>
<div>@{{ profile.handle }}</div>

<section class=newpost>
<h2>Create</h2>
<form action="/posts"
      method=post
      hx-post="/posts"
      hx-swap=outerHTML
      hx-target="section.profile"
      hx-on::after-request="this.reset()">
  <input type=hidden name=profile_id value="{{ profile.profile_id }}">
  <textarea name="content" placeholder="{{ profile.display_name }} is..."></textarea>
  <div><button>Post!</button></div>
</form>
</section>

<h2>Body</h2>
<p style="line-break: anywhere">{{ req_body }}</p>

{% block profile %}
<section class=profile>
<h2>profile</h2>
{% for post in posts %}
<article class=post>
  <div class=userinfo>
    <address>
      <span class=user>{{ post.display_name }}</span> -
      <span class=handle>{{ post.handle }}</span>
    </address>
    <button class=delete
            hx-delete="/posts/{{ post.post_id }}"
            hx-target="closest article"
            hx-swap="outerHTML"
            hx-confirm="Are you sure you want to delete this post?"
    >Delete
    </button>
    </div>
    <p>{{ post.content }}</p>
    <footer>{{ post.created_at }}</footer>
  </article>
  {% endfor %}
  </section>
{% endblock %}

{% endblock %}

