{% extends 'base.html' %}

{% block head %}
<title>Sailboat</title>
{% endblock %}

{% block main %}

<h1>{{ profile.internal_name }}</h1>
<div>@{{ profile.handle }}</div>

<section class=newpost>
<h2>Create</h2>
<form action="/posts"
      method=post
      hx-post="/posts"
      hx-swap=outerHTML
      hx-target="section.profile"
      hx-on::after-request="this.reset()">
  <input type=hidden name=profile_id value="{{ profile.profile_id }}">
  <textarea name="content" placeholder="{{ profile.display_name }} is..."></textarea>
  <div><button>Post!</button></div>
</form>
</section>

<h2>Body</h2>
<p style="line-break: anywhere">{{ req_body }}</p>

{% block profile %}
<section class=feed>
<h2>profile</h2>
{% for post in posts %}
  {% include '_partials/post.html' %}
{% endfor %}
</section>
{% endblock %}

{% endblock %}

