{% extends 'base.html' %}

{% block head %}
<title>Following</title>
{% endblock %}

{% block main %}
<style></style>
<h1>Followers</h1>
<a href="/">Go home</a>

<section>

{% for user in following %}
<article class=profile-search-result>
  <header>
    <img width=46 height=46 src="{{ user.icon_url }}">
    <div>
      <h2>{{ user.name }}</h2>
      <address><a href="{{ user.url }}">@{{ user.preferred_username }}</a></address>
    </div>

    <button >Follow</button>

    <!-- <form action=/follow method=POST hx-post=/follow hx-swap=outerHTML> -->
    <!-- </form> -->

  </header>
  <p>{{ user.summary }}</p>
</article>
{% endfor %}

</section>

{% endblock %}


