{% extends 'base.html' %}

{% block head %}
<title>Sailboat</title>
{% endblock %}

{% block main %}
<style>
label {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 500px;
}

</style>

<h1>New Profile</h1>
<form action=/profiles method=POST>
  <label>Handle: <span>@<input type=text name=preferred_username></span></label>
  <label>Display Name:<input type=text name=display_name></label>
  <label>Nickname: <input type=text name=internal_name></label>
  <button>Create</button>
</form>

{% endblock %}
