body {
  display: flex;
  flex-direction: row;
  margin: 0;
  max-width: 800px;
  min-height: 100vh;
}

.site-nav {
  width: 100px;
  background-color: black;
  margin: 0 30px 0 0;
  padding: 20px 0 0 0;
}

.site-nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

.site-nav li {
  margin: 0;
}

.site-nav li:hover {
  background-color: gray;
}

.site-nav a {
  color: white;
  display: block;
  padding: 10px 0;
  text-decoration: none;
}

address {
  font-style: normal;
}

main {
  width: 100%;
  padding-top: 20px;
}

h1 {
  margin-top: 0;
}

article.post {
  border: 1px solid black;
  max-width: 400px;
}

.post .user {
  font-weight: bold;
}

.profile-search-result {
  width: 450px;
  background-color: bisque;
  padding: 1rem;
}

.profile-search-result header {
  display: flex;
  margin: 0;
  flex-direction: row;
}

.profile-search-result img {
  border-radius: 50%;
  margin-right: 5px;
}

.profile-search-result h2 {
  display: inline;
  margin: 0 10px 0 0;
}

.profile-search-result address {
  display: block;
  font-style: normal;
}

.profile-search-result :last-child {
  margin-left: auto;
  align-self: center;
}
