body {
  display: flex;
  flex-direction: row;
}

nav {
  width: 100px;
  background-color: darkgray;
  margin: 20px 10px 0 0;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav ul li {
}

main {
  margin-top: 20px;
}
